# Test technique Aurélien Allard

Ce test a pour but de regrouper les annonces disponibles sur [ce lien Google Sheet](https://docs.google.com/spreadsheets/d/1XUjqeXVgjZJ8jVNAn9MeIb9zHLhVj4mwRs-hk1P050o/edit).

## Connexion à la table Google Sheet

Tout d'abord nous désirons importer l'ensemble des données sous un format exploitable par Pandas, afin de pouvoir manipuler et analyser les données.

Nous redéfinissons pour cela un extrait csv de la table en réécrivant son url.

In [8]:
import pandas as pd

# Définition des variables
sheet_url = "https://docs.google.com/spreadsheets/d/1XUjqeXVgjZJ8jVNAn9MeIb9zHLhVj4mwRs-hk1P050o/edit#gid=1762609115"
csv_url = sheet_url.replace("/edit#gid=", "/export?format=csv&gid=")

# Extraction du csv dans un dataframe Pandas
raw_df = pd.read_csv(csv_url,
                   # Nous attribuons l'index  des lignes à la colonne ID
                   index_col=0,
                  )

# Visualisation du résultat
raw_df.head(2)

,URL,CRAWL_SOURCE,PROPERTY_TYPE,NEW_BUILD,DESCRIPTION,IMAGES,SURFACE,LAND_SURFACE,BALCONY_SURFACE,TERRACE_SURFACE,...,DEALER_NAME,DEALER_TYPE,CITY_ID,CITY,ZIP_CODE,DEPT_CODE,PUBLICATION_START_DATE,PUBLICATION_END_DATE,LAST_CRAWL_DATE,LAST_PRICE_DECREASE_DATE
ID,,,,,,,,,,,,,,,,,,,,,
22c05930-0eb5-11e7-b53d-bbead8ba43fe,http://www.avendrealouer.fr/location/levallois...,A_VENDRE_A_LOUER,APARTMENT,False,"Au rez de chaussée d'un bel immeuble récent,ap...","[""https://cf-medias.avendrealouer.fr/image/_87...",72.0,NaN,NaN,NaN,...,Lamirand Et Associes,AGENCY,54178039,Levallois-Perret,92300.0,92,2017-03-22T04:07:56.095,NaN,2017-04-21T18:52:35.733,NaN
8d092fa0-bb99-11e8-a7c9-852783b5a69d,https://www.bienici.com/annonce/ag440414-16547...,BIEN_ICI,APARTMENT,False,Je vous propose un appartement dans la rue Col...,"[""http://photos.ubiflow.net/440414/165474561/p...",48.0,NaN,NaN,NaN,...,Proprietes Privees,MANDATARY,54178039,Levallois-Perret,92300.0,92,2018-09-18T11:04:44.461,NaN,2019-06-06T10:08:10.89,2018-09-25

<details>
<summary>Autre méthode</summary>
<br>
Avec l'accès aux credentials, nous pourrions imaginer nous connecter via l'API Google, voire nous aider d'une librairie telle que gspread.
</details>

## Analyse

Nous désirons nous faire une idée générale des colonnes présentes ainsi que du nombre d'entrée (2164 pour cet extrait).

Nous en profitons pour se faire un récapitulatif statistique permettant d'apprécier les grandes tendances.

In [12]:
raw_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2164 entries, 22c05930-0eb5-11e7-b53d-bbead8ba43fe to f3ae8be0-9fcf-11e9-ab3e-47ec2b68d334
Data columns (total 56 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   URL                         2164 non-null   object
 1   CRAWL_SOURCE                2164 non-null   object
 2   PROPERTY_TYPE               2164 non-null   object
 3   NEW_BUILD                   1973 non-null   object
 4   DESCRIPTION                 2160 non-null   object
 5   IMAGES                      2164 non-null   object
 6   SURFACE                     2050 non-null   float64
 7   LAND_SURFACE                3 non-null      float64
 8   BALCONY_SURFACE             0 non-null      float64
 9   TERRACE_SURFACE             25 non-null     float64
 10  ROOM_COUNT                  1835 non-null   float64
 11  BEDROOM_COUNT               696 non-null    float64
 12  BATHROOM_COUNT              0 non-null      float64
 13  LUNCHROOM_COUNT             0 non-null      float64
 14  TOILET_COUNT                0 non-null      float64
 15  FURNISHED                   467 non-null    object
 16  FIREPLACE                   0 non-null      float64
 17  AIR_CONDITIONING            0 non-null      float64
 18  GARDEN                      14 non-null     float64
 19  SWIMMING_POOL               6 non-null      float64
 20  BALCONY                     0 non-null      float64
 21  TERRACE                     86 non-null     float64
 22  CELLAR                      0 non-null      float64
 23  PARKING                     2164 non-null   bool
 24  PARKING_COUNT               157 non-null    float64
 25  HEATING_TYPES               2164 non-null   object
 26  HEATING_MODE                653 non-null    object
 27  FLOOR                       660 non-null    float64
 28  FLOOR_COUNT                 465 non-null    float64
 29  CONSTRUCTION_YEAR           503 non-null    float64
 30  ELEVATOR                    552 non-null    object
 31  CARETAKER                   247 non-null    object
 32  ENERGY_CONSUMPTION          0 non-null      float64
 33  GREENHOUSE_GAS_CONSUMPTION  0 non-null      float64
 34  MARKETING_TYPE              2164 non-null   object
 35  PRICE                       2104 non-null   float64
 36  PRICE_M2                    1991 non-null   float64
 37  PRICE_EVENTS                2164 non-null   object
 38  RENTAL_EXPENSES             441 non-null    float64
 39  RENTAL_EXPENSES_INCLUDED    600 non-null    object
 40  DEPOSIT                     55 non-null     float64
 41  FEES                        94 non-null     float64
 42  FEES_INCLUDED               511 non-null    object
 43  EXCLUSIVE_MANDATE           2164 non-null   bool
 44  AGENCIES_UNWANTED           201 non-null    object
 45  OCCUPIED                    1209 non-null   object
 46  DEALER_NAME                 2077 non-null   object
 47  DEALER_TYPE                 2164 non-null   object
 48  CITY_ID                     2164 non-null   int64
 49  CITY                        2164 non-null   object
 50  ZIP_CODE                    2163 non-null   float64
 51  DEPT_CODE                   2164 non-null   int64
 52  PUBLICATION_START_DATE      2164 non-null   object
 53  PUBLICATION_END_DATE        0 non-null      float64
 54  LAST_CRAWL_DATE             2164 non-null   object
 55  LAST_PRICE_DECREASE_DATE    340 non-null    object
dtypes: bool(2), float64(29), int64(2), object(23)
memory usage: 934.1+ KB

In [13]:
raw_df.describe()

,SURFACE,LAND_SURFACE,BALCONY_SURFACE,TERRACE_SURFACE,ROOM_COUNT,BEDROOM_COUNT,BATHROOM_COUNT,LUNCHROOM_COUNT,TOILET_COUNT,FIREPLACE,...,GREENHOUSE_GAS_CONSUMPTION,PRICE,PRICE_M2,RENTAL_EXPENSES,DEPOSIT,FEES,CITY_ID,ZIP_CODE,DEPT_CODE,PUBLICATION_END_DATE
count,2050.000000,3.000000,0.0,25.000000,1835.000000,696.000000,0.0,0.0,0.0,0.0,...,0.0,2.104000e+03,1991.000000,441.000000,55.000000,94.000000,2164.0,2163.0,2164.0,0.0
mean,128.136068,30.000000,NaN,31.363600,2.243597,1.847701,NaN,NaN,NaN,NaN,...,NaN,4.261142e+05,5483.773420,406.687347,2988.506000,1531.935957,54178039.0,92300.0,92.0,NaN
std,423.339898,8.660254,NaN,57.467242,1.715621,1.104508,NaN,NaN,NaN,NaN,...,NaN,6.486603e+05,5384.760624,1329.451157,8071.172419,6269.065130,0.0,0.0,0.0,NaN
min,6.000000,25.000000,NaN,5.590000,0.000000,1.000000,NaN,NaN,NaN,NaN,...,NaN,3.300000e+01,1.780000,2.000000,70.000000,29.500000,54178039.0,92300.0,92.0,NaN
25%,36.200000,25.000000,NaN,13.000000,1.000000,1.000000,NaN,NaN,NaN,NaN,...,NaN,1.600000e+03,32.375000,60.000000,860.500000,378.000000,54178039.0,92300.0,92.0,NaN
50%,55.000000,25.000000,NaN,18.000000,2.000000,1.000000,NaN,NaN,NaN,NaN,...,NaN,2.200000e+05,7586.210000,100.000000,1350.000000,639.670000,54178039.0,92300.0,92.0,NaN
75%,93.000000,32.500000,NaN,26.000000,3.000000,2.000000,NaN,NaN,NaN,NaN,...,NaN,6.097500e+05,10056.750000,151.000000,2450.000000,806.700000,54178039.0,92300.0,92.0,NaN
max,10287.000000,40.000000,NaN,300.000000,10.000000,8.000000,NaN,NaN,NaN,NaN,...,NaN,6.000000e+06,89000.000000,14287.330000,60000.000000,60000.000000,54178039.0,92300.0,92.0,NaN

## Nettoyage

Rendons la donnée plus lisible en éliminant les colonnes n'apportant aucun élément de comparaison probants entre deux biens immobilier, ainsi que les colonnes de lieu contenant une information similaire.

Notons que nous retirons ici les images: les filigrannes et l'incertitude d'avoir des photographies similaires nous en décourage.

In [122]:
# Colonnes non-pertinentes à enlever
col_to_drop = ['URL', 'CRAWL_SOURCE', 'CRAWL_SOURCE', 'IMAGES', 'PRICE_EVENTS', 'FEES', 'FEES_INCLUDED', 'DEALER_NAME',
 'DEALER_TYPE', 'CITY_ID', 'CITY', 'DEPT_CODE', 'PUBLICATION_START_DATE', 'PUBLICATION_END_DATE',
 'LAST_CRAWL_DATE', 'LAST_PRICE_DECREASE_DATE']

df = raw_df.drop(col_to_drop, axis=1)

Toujours en vue d'alléger le processus, nous enlevons les colonnes n'ayant pas  ou peu d'informations.

In [128]:
# On retire les colonnes vides ou contenant peu déléments comparables
df.dropna(axis=1, thresh=0.1*len(df), inplace=True)
df.count()

PROPERTY_TYPE               2164
NEW_BUILD                   1973
DESCRIPTION                 2160
SURFACE                     2050
ROOM_COUNT                  1835
BEDROOM_COUNT                696
FURNISHED                    467
PARKING                     2164
HEATING_TYPES               2164
HEATING_MODE                 653
FLOOR                        660
FLOOR_COUNT                  465
CONSTRUCTION_YEAR            503
ELEVATOR                     552
CARETAKER                    247
MARKETING_TYPE              2164
PRICE                       2104
PRICE_M2                    1991
RENTAL_EXPENSES              441
RENTAL_EXPENSES_INCLUDED     600
EXCLUSIVE_MANDATE           2164
OCCUPIED                    1209
ZIP_CODE                    2163
dtype: int64

## Paramètres de regroupement

Nous pouvons éliminer l'ensemble des biens n'ayant aucune doublons au sein de features

In [130]:
cleaned_df = df[(raw_df['SURFACE'].between(20, 80)) & (raw_df['PROPERTY_TYPE'] == "APARTMENT")]

duplicated = cleaned_df.duplicated(['PROPERTY_TYPE', 'SURFACE', 'ZIP_CODE'])
cleaned_df[duplicated].sort_values(['SURFACE'], ascending=False)

,PROPERTY_TYPE,NEW_BUILD,DESCRIPTION,SURFACE,ROOM_COUNT,BEDROOM_COUNT,FURNISHED,PARKING,HEATING_TYPES,HEATING_MODE,...,ELEVATOR,CARETAKER,MARKETING_TYPE,PRICE,PRICE_M2,RENTAL_EXPENSES,RENTAL_EXPENSES_INCLUDED,EXCLUSIVE_MANDATE,OCCUPIED,ZIP_CODE
ID,,,,,,,,,,,,,,,,,,,,,
9d231240-c677-11e9-a6b2-651beb16710e,APARTMENT,False,Metro LOUISE MICHEL. Au calme dans un immeuble...,80.00,4.0,NaN,NaN,False,[],NaN,...,NaN,NaN,SALE,849000.0,10612.50,NaN,NaN,True,False,92300.0
7c4ec190-c8b6-11e9-92d3-cb429fb9e457,APARTMENT,False,Métro LOUISE MICHEL. Au calme dans un immeuble...,80.00,4.0,3.0,NaN,False,"[""ELECTRIC""]",INDIVIDUAL,...,True,True,SALE,849000.0,10612.50,NaN,NaN,False,False,92300.0
709fb420-af80-11e9-9fab-c3006e339e11,APARTMENT,False,"Situé à LEVALLOIS PERRET, cet appartement de b...",77.88,3.0,2.0,False,True,"[""GAS""]",COLLECTIVE,...,True,NaN,RENT,2400.0,30.82,190.0,NaN,False,NaN,92300.0
20537fc0-5011-11e9-afff-399d21b97abe,APARTMENT,False,LEVALLOIS | JEAN-ZAY | 4 PIÈCES MAGNIFIQUE App...,77.30,4.0,2.0,NaN,True,"[""ELECTRIC""]",INDIVIDUAL,...,True,NaN,SALE,950000.0,12289.78,NaN,NaN,False,False,92300.0
d5c6e3f0-67af-11e9-8084-55ce2049f05c,APARTMENT,False,LEVALLOIS | JEAN-ZAY | 4 PIECES MAGNIFIQUE App...,77.30,4.0,2.0,NaN,False,"[""ELECTRIC""]",INDIVIDUAL,...,True,False,SALE,950000.0,12289.78,NaN,NaN,True,False,92300.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
c8e1e7d0-c357-11e9-81e9-5f24299f2ef3,APARTMENT,False,ORPI vous propose ce joli petit 2 pièces de 21...,21.00,2.0,1.0,NaN,False,[],INDIVIDUAL,...,NaN,NaN,SALE,198000.0,9428.57,NaN,NaN,False,False,92300.0
d87e1260-13b5-11e9-9d9b-7591d677cbca,APARTMENT,False,LEVALLOIS // GREFFULHE Appartement de 21m2 sit...,21.00,1.0,1.0,NaN,False,[],COLLECTIVE,...,True,True,SALE,260000.0,12380.95,NaN,NaN,False,False,92300.0
6d0329a0-ad55-11e9-9cb2-ef48193159b3,APARTMENT,False,Au coeur du Quartier Greffulle de Levallois. D...,20.00,1.0,NaN,True,False,[],NaN,...,NaN,NaN,RENT,950.0,47.50,NaN,NaN,False,NaN,92300.0
8b06b0f0-b112-11e9-9fab-c3006e339e11,APARTMENT,False,"Au coeur du Quartier Greffulle de Levallois, d...",20.00,1.0,NaN,True,False,[],NaN,...,NaN,NaN,RENT,950.0,47.50,NaN,True,False,NaN,92300.0
4b23fb50-73cd-11e9-adc1-59e67c527828,APARTMENT,False,NaN,20.00,1.0,NaN,False,False,[],NaN,...,NaN,NaN,RENT,860.0,43.00,NaN,True,False,NaN,92300.0

## Regroupement

In [64]:
from sklearn.feature_extraction.text import TfidfVectorizer

tfidf = TfidfVectorizer().fit_transform(tx)
pairwise_similarity = tfidf * tfidf.T

In [65]:
pairwise_similarity.toarray()

array([[1.        , 0.80308189],
       [0.80308189, 1.        ]])

In [180]:
from scipy.spatial.distance import pdist, squareform

comp_1 = pd.DataFrame(
    1 - squareform(pdist(df, lambda u,v: (u != v).mean())),
    columns = df.index,
    index = df.index
)

In [192]:
comp_2 = comp_1.unstack(fill_value='').to_frame().reset_index().set_axis(['Bien A', 'Bien B', 'Score'], axis=1)
comp_2[(comp_2['Bien A'] != comp_2['Bien B']) & (comp_2['Score'] > 0.5)].sort_values(['Score'], ascending=False)

ValueError: cannot insert ID, already exists

In [201]:
comp_1.unstack()

ID                                    ID
22c05930-0eb5-11e7-b53d-bbead8ba43fe  22c05930-0eb5-11e7-b53d-bbead8ba43fe    1.000000
                                      8d092fa0-bb99-11e8-a7c9-852783b5a69d    0.260870
                                      44b6a5c0-3466-11e9-8213-25cc7d9bf5fc    0.217391
                                      e9e07ed0-812f-11e8-82aa-61eacebe4584    0.217391
                                      872302b0-5a21-11e9-950c-510fefc1ed35    0.173913
                                                                                ...
f3ae8be0-9fcf-11e9-ab3e-47ec2b68d334  d3579370-824f-11e9-af18-9742751bcff8    0.391304
                                      cce3fc60-c86b-11e9-a6b2-651beb16710e    0.304348
                                      beec50b0-c85e-11e9-92d3-cb429fb9e457    0.347826
                                      8cba88c0-a07a-11e9-a8e6-0de7b497e456    0.130435
                                      f3ae8be0-9fcf-11e9-ab3e-47ec2b68d334    1.000000
Length: 4682896, dtype: float64

In [202]:
comp_1.unstack().index.rename(['Bien A', 'Bien B', 'Score'])

ValueError: Length of names must match number of levels in MultiIndex.